.w3{
    border: 1px solid #ccc !important;
    padding: 0.01em 16px;
    border-radius: 16px;
    margin: 10px 10px 10px 10px;
    ;
  }

  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    font-size:12px;
}

.pagination a {
    cursor: default;
    padding: 7px;
    border-radius: 6px;
    border: 1px solid purple;
    color: purple;
    margin-left: 10px;
}

.pagination li:not(.disabled) a:hover {
    cursor: pointer;
}

.pagination li a {
    font-weight: bold;
    text-decoration: none;
}

.pagination li.active a {
    color: purple;
}

.pagination li.disabled a {
    pointer-events: none;
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}

.pagination-txt{
    display: inline;
    font-size: 12px;
}

.question_form{
    background-color: #f4f4f9;
    height: 100%;
    padding-bottom: 30px;
}

.section{
    margin: auto;
    width: 50%;
}

.blank{
    margin: auto;
    width: 100px;
}