.user_form {

    background-color: #F4F4F9;
    padding: 20px;
}

.user_form_column_left {
    float: left;
    padding: 5px;
  }

  .user_form_column_right {
    float: right;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .user_form_row::after {
    content: "";
    clear: both;
    display: table;
  }

.submit {

    background-color: #F4F4F9;

}

.user_form_section {
    margin: auto;
    width: 90%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;

}

.user_title_section {
    background-color: white;
    border-top: 8px solid #0c0297d2;
    border-radius: 8px;
    padding: 15px 25px;
    margin-bottom: 8px;
}

.user_form_questions {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    padding: 30px 25px;
    text-align: left;
    margin-bottom: 8px;
    text-transform: none;
}


.user_form_submit {
    float: left;
}

.user_footer {
    margin-bottom: 0;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.form_check {
    text-align: left;


}

.form_check_input {
    display: inline;
    margin-right: 100px;
}



.form_check_input_text {
    width: 150%;
    
    background-color: #e1e4f5;

}

@media only screen and (max-width: 768px) {
    .user_form_section {
        width: 100%; /* Utilizar todo el ancho disponible en dispositivos móviles */
    }

    .user_form_questions {
        padding: 20px; /* Reducir el relleno en dispositivos móviles para evitar que el contenido se vea demasiado apretado */
    }
}