.user_form {

    background-color: #F4F4F9;
    height: 100%;
    padding: 20px;
}

.submit {

    background-color: #F4F4F9;

}

.user_form_section {
    margin: auto;
    width: 44%;
    display: flex;
    flex-direction: column;

}

.user_title_section {
    background-color: white;
    border-top: 8px solid rgb(103, 58, 183);
    border-radius: 8px;
    padding: 15px 25px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.user_form_questions {
    background-color: white;

    border-radius: 8px;
    padding: 30px 25px;
    /* text-transform: capitalize; */
    text-align: left;

    margin-bottom: 8px;
}

.user_form_submit {
    float: left;


}

.user_footer {
    margin-bottom: 0;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.form_check {
    text-align: left;


}

.form_check_input {
    display: inline;
    margin-right: 100px;
}



.form_check_input_text {
    width: 300px;
    background-color: #e1e4f5;

}